@use "../utilities/variables" as v;

.footer-contenido {
  display: flex;
  padding: 2.5rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-seccion a {
  display: block;
  margin-bottom: 0.2rem;
}

.footer {
  background-color: v.$color-footer;

}

.footer h4,
.footer a,
.footer p {
  color: rgb(255, 255, 255);
  
}