$color-principal: rgb(52,152,219);
$color-hover: rgb(41,128,185);
$color-fondo: rgb(245, 245, 245);
$color-borde: rgb(221,221,221);
$color-texto: #333;

$color-popular: rgb(0, 255, 115);
$color-economico: rgb(234, 85, 30);
$color-premium: rgb(247, 243, 7);