@use "../utilities/variables" as v;

body {
  font-family: Arial, sans-serif;
  background-color: v.$color-fondo;
}
html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}